<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{title}}</title>
</head>

<body data-spy="scroll" data-target="#main-nav" id="home">
  {{> _navbar}}
  {{> _errors}}
  {{> _msg}}
  {{{body}}}
  {{#if skipSpace}}
  {{else}}
  {{> _footer}}
  {{/if}}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  {{!-- <script src="js/main.js"></script> --}}
  <script src={{script}}></script>
  <script>
    $('[data-toggle="tooltip"]').tooltip();
    //Get the current year for copyright
    $("#year").text(new Date().getFullYear());

    //Init Scrollspy
    $("body").scrollspy({ target: "#main-nav" });

    // Add smooth scrolling
    $("#main-nav a").on("click", function (e) {
      // Check for a hash value
      if (this.hash !== "") {
        // Prevent default behavior
        e.preventDefault();

        // Store hash
        const hash = this.hash;

        // Animate smooth scroll
        $("html, body").animate(
          {
            scrollTop: $(hash).offset().top
          },
          800,
          function () {
            // Add hash to URL after scroll
            window.location.hash = hash;
          }
        );
      }
    });
  </script>
</body>

</html>