<!-- Home Section -->
<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row">
        <div class="col-lg-8 d-none d-lg-block">
          <h1 class="display-4">
            Develop an Organized System to Track Your Coin Collection
          </h1>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Catalog and List US coins
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Add and Categorize the coins in your collection
            </div>
          </div>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Arrange and Organize coins in storage areas
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-success text-center card-form">
            <div class="card-body">
              <h3>Sign Up To Get Started</h3>
              <p>Please fill out the form to register</p>
              <form action="/user/register" method="post">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="First Name" required
                    name="firstName" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Last Name" required
                    name="lastName" />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" placeholder="Email" required name="email" />
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" placeholder="Password" required
                    name="password" />
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" required
                    name="password2" />
                </div>
                <input type="submit" value="Submit" class="btn btn-outline-light btn-block" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="catalog-head-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="img/list.jpg" alt="" class="img-fluid mb-3 rounded-circle" />
      </div>
      <div class="col-md-6">
        <h3>Catalog & List</h3>
        <p>
          Get a list and brief information of coins minted in the US
        </p>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              List coins by denomination and category
            </p>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              View the number of coins minted each year
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Create Section -->
<section id="create-head-section" class="bg-success py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2">
        <img src="img/organized_coins.jpg" alt="" class="img-fluid mb-3 rounded-circle" />
      </div>
      <div class="col-md-6 order-1">
        <h3>Add and Categorize</h3>
        <p>
          Add a coin from the catalog and store the condition of each coin in your collection
        </p>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              Store coins by category and denomination
            </p>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              Save the grade of the coin
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Arrange Section -->
<section id="arrange-head-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="img/coin_storage.jpg" alt="" class="img-fluid mb-3 rounded-circle" />
      </div>
      <div class="col-md-6">
        <h3>Arrange & Organize</h3>
        <p>
          Know exactly where your coin is located
        </p>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              Create storage container names for coins
            </p>
          </div>
        </div>
        <div class="d-flex">
          <div class="p-4 align-self-start">
            <i class="fas fa-check fa-2x"></i>
          </div>
          <div class="p-4 align-self-end">
            <p>
              Assign coin to proper storage location
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>