<div class="container">
  <h1>Admintools home page</h1>
  <p>Click Scrape Denominations to scrape all denominations and save to a file called "denominations.txt"</p>
  <button id="btnScrape-Denominations">Scrape Denominations</button>
  <p>Select the type of coin to add</p>
  <button id="btnAdd-Pennies">Add Pennies</button>
  <button id="btnAdd-Nickels">Add Nickels</button>
  <button id="btnAdd-Dimes">Add Dimes</button>
  <button id="btnAdd-Quarters">Add Quarters</button>
  <button id="btnAdd-HalfDollars">Add Half Dollars</button>
  <button id="btnAdd-Dollars">Add Dollars</button>
  <br><br>
  <button id="btnConvert-json">Convert text to JSON</button>
  <br><br>
  <button id="btnAdd-database">Add to Database</button>
  <br><br>
  <div id="results-area"></div>
</div>